<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Value</th>
            <th>Start</th>
            <th>Start Circa</th>
            <th>End</th>
            <th>End Circa</th>

        </tr>
    </thead>
    <tbody>
        {% for date_year in date_years %}
            <tr>
                <td>
                    <a href="{{ path('date_year_show', { 'id': date_year.id }) }}">
                        {{ date_year.id }}
                    </a>
                </td>
                <td>
                    {{ date_year.value }}
                </td>

                <td>
                    {{ date_year.start }}
                </td>

                <td>{% if date_year.startCirca %}Yes{% else %}No{% endif %}</td>


                <td>
                    {{ date_year.end }}
                </td>

                <td>{% if date_year.endCirca %}Yes{% else %}No{% endif %}</td>


            </tr>
        {% endfor %}
    </tbody>
</table>
