  <table class="table table-bordered table-condensed table-hover table-striped">
      <thead>
          <tr>
              <th>ID</th>                                       <th>Name</th>
                                                         <th>Label</th>
                                                         <th>Description</th>
                  
          </tr>
      </thead>
      <tbody>
      {% for genre in genres %}
          <tr>
              <td>
                  <a href="{{ path('genre_show', { 'id': genre.id }) }}">
                      {{ genre.id }}
                  </a>
              </td>
              <td>
                  {{ genre.name }}
              </td>
          
              <td>
                  {{ genre.label }}
              </td>
          
              <td>
                  {{ genre.description|raw }}
              </td>
          
          </tr>
      {% endfor %}
      </tbody>
  </table>
  