{% extends 'base.html.twig' %}

{% block title %}Date Year List{% endblock %}

{% block pageheader %}
    <h1>Date Year List</h1>
    <p class="count">
        Displaying {{ date_years|length }} date_years of {{ date_years.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('date_year_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New </a>
            {% endif %}

            <a href="{{ path('date_year_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search </a>
        </div>
    </div>

    {% embed 'date_year/partial/table.html.twig' %}
    {% endembed %}

    <div class="navigation">
        {{ knp_pagination_render(date_years) }}
    </div>

{% endblock %}
