<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Sortable Title</th>
            <th>Old Links</th>
            <th>Description</th>
            <th>Notes</th>

        </tr>
    </thead>
    <tbody>
        {% for compilation in compilations %}
            <tr>
                <td>
                    <a href="{{ path('compilation_show', { 'id': compilation.id }) }}">
                        {{ compilation.id }}
                    </a>
                </td>
                <td>
                    {{ compilation.title|raw }}
                </td>

                <td>
                    {{ compilation.sortableTitle|raw }}
                </td>

                <td>{% if compilation.oldLinks %}{{ compilation.oldLinks|join(', ') }}{% endif %}</td>

                <td>
                    {{ compilation.description|raw }}
                </td>

                <td>
                    {{ compilation.notes|raw }}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
