{% extends 'base.html.twig' %}

{% block title %}Periodical List{% endblock %}

{% block pageheader %}
    <h1>Periodical List</h1>
    <p class="count">
        Displaying {{ periodicals|length }} periodicals of {{ periodicals.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('periodical_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New </a>
            {% endif %}

            <a href="{{ path('periodical_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search </a>
        </div>
    </div>

    {% embed 'periodical/partial/table.html.twig' %}
    {% endembed %}

    <div class="navigation">
        {{ knp_pagination_render(periodicals) }}
    </div>

{% endblock %}
